<footer>
  <div class="social">
    <a href="#"><img src="../../assets/img/social-media/em.png"></a>
    <a href="#"><img src="../../assets/img/social-media/face.png"></a>
    <a href="#"><img src="../../assets/img/social-media/goo.png"></a>
    <a href="#"><img src="../../assets/img/social-media/inst.png"></a>
    <a href="#"><img src="../../assets/img/social-media/pint.png"></a>
  </div>
  <div class="copyright">
    <p>
      Copyright © 2020 by Theo. All rights reserved.
    </p>
  </div>
</footer>
