<img class="wave" src="../../assets/img/img-login/wave.png">
<div class="container">
  <div class="img">
    <img src="../../assets/img/img-login/bg.svg">
  </div>
  <div class="login-content">
    <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
      <img src="../../assets/img/img-login/avatar.svg">
      <h2 class="title">Welcome</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Password">
        </div>
      </div>
      <a routerLink="../registration">Register</a>
      <input type="submit" class="btn" value="Login">
    </form>
  </div>
</div>
