<div class="container">
<!--  <h1 class="title">Despre noi</h1>-->
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">Despre noi</h1>
      <p>
        Reteaua de Fitness Cluburi BeStrong Chisinau promoveaza un concept prin care poti obtine deconectare de la
        stresul zilnic, atat prin exercitii, o nutritie adecvata, dar si o socializare mai puternica. Fie ca aveti
        nevoie de a pierde in greutate, modelarea sau remodelarea masei musculare, reducerea stresului, pentru a va imbunatati
        performantele sportive, sala de forta BeStrong este locul in care va puteti atinge obiectivele!
      </p>

      <p class="par-bold">
        Filialele noastre se extind in regiuni ca <span class="par-red">Botanica, Ciocana, Buiucani</span> si <span class="par-red">Centrul</span> Chisinaului. Suprafata totala a
        fiecarei filiale BeStrong atinge in mediu 1000 m.p. si este amplasata foarte comod atit pentru accesul cu transport
        public cit si privat. Salile noastre sunt dotate cu echipament pe alocuri exclusiv pe teritoriul R.M. cum ar fi
        marci internationale: Life Fitness, Hammer Strength, Precor, Cybex, Star Trac, SportsArt, Technogym, Matrix s.a.
        Raportul Pret-Calitate, inevitabil va va uimi placut. Va asteptam pe toti in vizita!
      </p>
      <p class="text-center contact">
        <span class="par-bold">Pentru mai multe informații apelați-ne la tel. </span> <span class="par-red">068110811 / 078110811</span><br>
        <span class="par-bold">BeStrong Ciocana:</span> <span class="par-red"> bd. Mircea cel Bătrân 39</span><br>
        <span class="par-bold">BeStrong Botanica:</span> <span class="par-red"> bd. Dacia 47/6</span><br>
        <span class="par-bold">BeStrong Centru:</span> <span class="par-red"> str. Vlaicu Pârcălab 52</span><br>
        <span class="par-bold">BeStrong Buiucani:</span> <span class="par-red"> str. Alba Iulia 190/1</span><br>
      </p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xZs6nCUQuuM" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>
