<!-- Carousel Bootstrap [Component slider] -->
<app-slider></app-slider>
<div class="container-home">
  <section class="start-today">
    <div class="container">
      <div class="content">
        <div class="box text wow slideInLeft">
          <h2>Start Your Training Today</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <a routerLink="/program-page" class="btn">Start Now</a>
        </div>
        <div class="box img wow slideInRight">
          <img src="../../assets/img/img-home/gallery4.jpg" alt="start today"/>
        </div>

      </div>
    </div>
  </section>
</div>


<section class="classes" id="classes">
  <div class="container">
    <div class="content">
      <div class="box img wow slideInLeft">
        <img src="../../assets/img/img-home/services/class2.png" alt="classes"/>
      </div>
      <div class="box text wow slideInRight">
        <span class="class-title text-center"><span class="prefix">Clase de grup</span><br>
                   <span class="sufix">pentru orice nivel</span></span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries,</p>
        <div class="class-items">
          <div class="item wow bounceInUp">
            <div class="item-img">
              <img src="../../assets/img/img-home/services/bike.jpg" alt="classes"/>
              <div class="price">
                $10
              </div>
            </div>
            <div class="item-text">
              <h4>Bike</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="">Detalii</a>
            </div>
          </div>
          <div class="item wow bounceInUp">
            <div class="item-text">
              <h4>Sala cu antrenamente de grup</h4>
              <p>Sala, cu o suprafață totală de 1670 m².</p>
              <a href="">Detalii</a>
            </div>
            <div class="item-img">
              <img src="../../assets/img/img-home/services/group.jpg" alt="classes"/>
              <div class="price">
                $30
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--  <div class="container">-->
<!--    <div class="content">-->
<!--      <div class="box img wow slideInLeft">-->
<!--        <img src="../../assets/img/img-home/services/class2.png" alt="classes"/>-->
<!--      </div>-->
<!--      <div class="box text wow slideInRight">-->
<!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
<!--          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and-->
<!--          scrambled it to make a type specimen book. It has survived not only five centuries,</p>-->
<!--        <div class="class-items">-->
<!--          <div class="item wow bounceInUp">-->
<!--            <div class="item-img">-->
<!--              <img src="../../assets/img/img-home/services/bike.jpg" alt="classes"/>-->
<!--              <div class="price">-->
<!--                $10-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item-text">-->
<!--              <h4>Bike</h4>-->
<!--              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
<!--              <a href="">Detalii</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="item wow bounceInUp">-->
<!--            <div class="item-text">-->
<!--              <h4>Sala cu antrenamente de grup</h4>-->
<!--              <p>Sala, cu o suprafață totală de 1670 m².</p>-->
<!--              <a href="">Detalii</a>-->
<!--            </div>-->
<!--            <div class="item-img">-->
<!--              <img src="../../assets/img/img-home/services/group.jpg" alt="classes"/>-->
<!--              <div class="price">-->
<!--                $30-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <div class="container">
    <div class="content">
      <div class="box text wow slideInLeft">
        <div class="class-items">
          <div class="item wow bounceInUp">
            <div class="item-img">
              <img src="../../assets/img/img-home/services/gym.jpg" alt="classes"/>
              <div class="price">
                $30
              </div>
            </div>
            <div class="item-text">
              <h4>Sala de forta</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="">Detalii</a>
            </div>
          </div>
          <div class="item wow bounceInUp">
            <div class="item-text">
              <h4>Cabinet de masaj</h4>
              <p>Procedurile de masaj pot fi efectuate înainte și după antrenamente – totul depinde de scop. </p>
              <a href="">Detalii</a>
            </div>
            <div class="item-img">
              <img src="../../assets/img/img-home/services/masaj.jpg" alt="classes"/>
              <div class="price">
                $30
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box img wow slideInRight">
        <img src="../../assets/img/img-home/services/bodybuilding.png" alt="classes"/>
      </div>
    </div>
  </div>


    <div class="container">
      <div class="content">
        <div class="box img wow slideInLeft">
          <img src="../../assets/img/img-home/services/yoga.png" alt="classes"/>
        </div>
        <div class="box text wow slideInRight">
          <div class="class-items">
            <div class="item wow bounceInUp">
              <div class="item-img">
                <img src="../../assets/img/img-home/services/fly-yoga.jpg" alt="classes"/>
                <div class="price">
                  $10
                </div>
              </div>
              <div class="item-text">
                <h4>Fly-Yoga</h4>
                <p>Antigravity yoga îți permite să scapi de bolile cardiovasculare, întărește mușchii spatelui.</p>
                <a href="">Detalii</a>
              </div>
            </div>
            <div class="item wow bounceInUp">
              <div class="item-text">
                <h4>Zumba</h4>
                <p>Sala, cu o suprafață totală de 1450 m².</p>
                <a href="">Detalii</a>
              </div>
              <div class="item-img">
                <img src="../../assets/img/img-home/services/zumba.jpg" alt="classes"/>
                <div class="price">
                  $30
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>


<div class="container-home">
  <section class="gallery" id="gallery">
    <h2>Workout Gallery</h2>
    <div class="content">
      <div class="box wow slideInLeft">
        <img src="../../assets/img/img-home/gallery1.jpg" alt="gallery"/>
      </div>
      <div class="box wow slideInRight">
        <img src="../../assets/img/img-home/gallery2.jpg" alt="gallery"/>
      </div>
      <div class="box wow slideInLeft">
        <img src="../../assets/img/img-home/gallery3.jpg" alt="gallery"/>
      </div>
      <div class="box wow slideInRight">
        <img src="../../assets/img/img-home/gallery7.jpg" alt="gallery"/>
      </div>
      <div class="box wow slideInLeft">
        <img src="../../assets/img/img-home/gallery5.jpg" alt="gallery"/>
      </div>
      <div class="box wow slideInRight">
        <img src="../../assets/img/img-home/gallery6.jpg" alt="gallery"/>
      </div>
    </div>
  </section>
</div>
