<!--<div class="card text-white">-->
<!--  <img class="card-img" src="../../assets/img/img-programs/wp4715998.jpg" alt="Card image">-->
<!--  <div class="card-img-overlay">-->
<!--    <p class="card-text">Most Effective Body Weight Home Workout</p>-->
<!--    <p class="card-text">Last updated 3 mins ago</p>-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class=" col-sm-6 col-lg-3 text-center">
      <div class="thumbnail">
        <div class="thumbnail__container">


          <!--Modal: Name-->
          <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
               aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <!--Content-->
              <div class="modal-content">
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <video width="320" height="240" controls>
                    <source src="../assets/video/1.mp4" type="video/mp4">
                    </video>
                  </div>
<!--                </div>-->
<!--                <div class="modal-footer justify-content-center">-->
<!--                  <div class="container">-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-12">-->
<!--                        Muscle groups-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-12">-->
<!--                          Andrei-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  Muscle groups-->
<!--&lt;!&ndash;                    <span class="mr-4">&ndash;&gt;-->
<!--                      <div class="text-block">-->
<!--                        Andrei-->
<!--                      </div>-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--                  <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>-->
<!--                  &lt;!&ndash;Twitter&ndash;&gt;-->
<!--                  <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>-->
<!--                  &lt;!&ndash;Google +&ndash;&gt;-->
<!--                  <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>-->
<!--                  &lt;!&ndash;Linkedin&ndash;&gt;-->
<!--                  <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>-->

<!--                  <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">-->
<!--                    Close-->
<!--                  </button>-->

                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>
          <!--Modal: Name-->

          <!--            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg" alt="video"-->
          <!--                    data-toggle="modal" data-target="#modal4"></a>-->


          <div class="thumbnail__img" style="background-image: url(../../assets/img/img-programs/unnamed.jpg);"
               data-toggle="modal" data-target="#modal4">
            <p class="text-overlay">most effective body weight</p>
          </div>
          <div class="thumbnail__content">
            <h1 class="thumbnail__caption"><i class="far fa-clock"></i> 45 MINS <i class="fas fa-bolt"></i> INTERMEDIATE
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 text-center">
      <div class="thumbnail">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(../../assets/img/img-programs/3.jpg);">
            <p class="text-overlay">most effective body weight</p>
          </div>
          <div class="thumbnail__content">
            <h1 class="thumbnail__caption"><i class="far fa-clock"></i> 30 MINS <i class="fas fa-bolt"></i> Advanced
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 text-center">
      <div class="thumbnail">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(../../assets/img/img-programs/2.jpg);">
            <p class="text-overlay">most effective body weight</p>
          </div>
          <div class="thumbnail__content">
            <h1 class="thumbnail__caption"><i class="far fa-clock"></i> 60 MINS <i class="fas fa-bolt"></i> INTERMEDIATE
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 text-center">
      <div class="thumbnail">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(../../assets/img/img-programs/4.jpg);">
            <p class="text-overlay">most effective body weight</p>
          </div>
          <div class="thumbnail__content">
            <h1 class="thumbnail__caption"><i class="far fa-clock"></i> 45 MINS <i class="fas fa-bolt"></i> INTERMEDIATE
            </h1>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class=" col-sm-6 col-lg-3 text-center">
      <div class="thumbnail">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(../../assets/img/img-programs/5.jpg);">
            <p class="text-overlay">most effective body weight</p>
          </div>
          <div class="thumbnail__content">
            <h1 class="thumbnail__caption"><i class="far fa-clock"></i> 45 MINS <i class="fas fa-bolt"></i> INTERMEDIATE
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 text-center">
      <div class="thumbnail">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(../../assets/img/img-programs/6.jpg);">
            <p class="text-overlay">most effective body weight</p>
          </div>
          <div class="thumbnail__content">
            <h1 class="thumbnail__caption"><i class="far fa-clock"></i> 60 MINS <i class="fas fa-bolt"></i> Begginer
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 text-center">
      <div class="thumbnail">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(../../assets/img/img-programs/7.jpg);">
            <p class="text-overlay">most effective body weight</p>
          </div>
          <div class="thumbnail__content">
            <h1 class="thumbnail__caption"><i class="far fa-clock"></i> 20 MINS <i class="fas fa-bolt"></i> Begineer
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 text-center">
      <div class="thumbnail">
        <div class="thumbnail__container">
          <div class="thumbnail__img" style="background-image: url(../../assets/img/img-programs/8.jpg);">
            <p class="text-overlay">most effective body weight</p>
          </div>
          <div class="thumbnail__content">
            <h1 class="thumbnail__caption"><i class="far fa-clock"></i> 60 MINS <i class="fas fa-bolt"></i> INTERMEDIATE
            </h1>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--  Row 2-->




